server {
    listen 80;

    server_name {{ item.name }}.{{ project_url }};

    root /home/{{ item.name }}/projects/{{ project_path }}/web;

    index index.php index.html index.htm;

    access_log  /var/log/nginx/{{ item.name }}-acces.log;
    error_log  /var/log/nginx/{{ item.name }}-error.log;

    location / {
        try_files $uri $uri/ =404;
    }

    # Symfony
    location ~ ^/(app|app_dev|config)\.php(/|$) {
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        include fastcgi_params;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
